

@media screen and (min-width: 1001px) {
    nav {
        background-color: rgb(70, 70, 184);
        max-width: 100vw;
        width: 100%;
        position: fixed;
        top: 0;
    }
    ul {  
        margin: 0;
        padding-left: 0;
        li {
            list-style-type: none;
            padding: 10px 20px;
            float: left;
            font-size: 1.7em;
        }
        li:hover {
            background-color: rgba(85, 255, 201, 0.6);
        }

    }
    #check {
        display: none;
    }
    a {
        text-decoration: none;
        color: white;
    }
    .check-btn {
        display: none;
    }
}










@media screen and (max-width: 1000px) {
    nav {
        background-color: rgb(70, 70, 184);
        max-width: 100vw;
        width: 100%;
        position: fixed;
        top: 0;
        
    }
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 35px;
        left: -110%;
        text-align: center;
        transition: all 0.5s; 
        li {
            display: block;
            line-height: 3.7;  
        }
        li:hover {
            background-color: rgba(85, 255, 201, 0.6);
            border-radius: 10px;
        }
        a {
            font-size: 1.7em;
            text-decoration: none;
            color: white;
        }
          
    }
    #check {
        display: none;
    }
    #check:checked ~ ul {
        left: 0;   
    }
    .check-btn {
        font-size: 1.8em;
        float: right;
        padding: 10px 20px;
        cursor: pointer;
    }
    .check-btn:hover {
        background-color: rgba(85, 255, 201, 0.6);
    }
}